
.css-1orzy9s{
    height: 30px;
    display: flex;
    align-items: center;
}

.css-1iz4iln{
    svg{
        color: #fff;
    }
}

.css-7mt4h1-MuiInputBase-root{
    input{
        color: #fff;
    }
}