.cart-block {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.cart-icon {
    cursor: pointer;
    position: relative;
}