.drawer-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
    a{
        text-decoration: none;
        color: #18625A;
    }

    .my-profile{
        display: flex;
    }
}