.home-decor-wish {
    margin: 0px ;
    height: 50vh;
}

.home-decor-wishlist {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
}

.home-decor-wishlist-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #18625b42;
    text-align: center;
    cursor: pointer;
}

.home-decor-wishlist-product {
    width: 600px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}