@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.header{
    height: 75px;
    padding-left: 100px;
    padding-right: 100px;
    background: #18625A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;

    .logo > p{
        margin: 0px;
        padding: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #FFFFFF;
    }

    .nav-bar > a{
        margin-right: 120px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        cursor: pointer;

    }

    .nav-link {
        margin-right: 120px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;

        padding: 20px 0px;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 1;
    }
      
    .nav-link:hover {
        opacity: 1;
    }
      
    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-image: url('../../assets/icons/Rectangle\ 5.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
      
    .nav-link-ltr::before {
        width: 0%;
        bottom: -28px;
    }
      
    .nav-link-ltr:hover::before {
        width: 100%;
    }

    
    
}