@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-two{
    height: 75px;
    padding-left: 100px;
    padding-right: 100px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;

    .logo > p{
        margin: 0px;
        padding: 0px;
        font-family: 'Magtis';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 24px;
        cursor: pointer;
        color: #18625A;
    }

    .nav-bar{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
        color: #18625A;
        padding: 0;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        cursor: pointer;
    }

    
   
   
    
    
}